.contenedor-hoobies {
    width: 300px;
    height: 150px;  
    background-color:rgb(222, 69, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
  }
  
  .contenedor-titulo-hobbies {
    width: 100%;
    color:rgb(0, 60, 255);
    display: flex;
    justify-content: center;
    padding-left: 1rem;
  }
  
  .contenedor-texto {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
    color: white;
  }